@import '../../../../../styles//global.scss';

.unlock-section-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px, 10%;

  .banner-section {
    flex-basis: 40%;

    .mobil-image {
      margin-left: 8px;
      width: 95%;
    }
  }

  .content-section {
    flex-basis: 60%;

    h2 {
      @extend .text-heading;
      margin-bottom: 16px;
    }

    p {
      @extend .text-body2;
    }

    .learn-more-button {
      @extend .button;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;

    .banner-section {
      margin-bottom: 20px;
      align-items: center;
      text-align: center;

      .mobil-image {
        margin: 0 auto;
      }
    }

    .content-section {
      align-items: center;
      text-align: left;

      .learn-more-button {
        margin: 0 auto;
        display: block;
      }
    }
  }
}
