/*@import '../../styles/index.scss';

.unlock-section-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 144px;

  .banner-section {
    flex-basis: 40%;

    .mobil-image {
      margin-left: 8px;
      width: 95%;
    }
  }

  .content-section {
    flex-basis: 60%;

    h2 {
      font-size: 24px;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
    }

    .learn-more-button {
      background-color: $colorPrimary;
      color: $colorOnprimary;
      padding: 14px 32px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;

    .banner-section {
      margin-bottom: 20px;
      align-items: center;
      text-align: center;

      .mobil-image {
        margin: 0 auto;
      }
    }

    .content-section {
      align-items: center;
      text-align: left;

      .learn-more-button {
        margin: 0 auto;
        display: block;
      }
    }
  }
}*/

// This is new change
// For new Branch

@import '../../../styles/index.scss';
@import '../../../styles/typography/typography.scss';
@import '../../../styles/globalbutton/button';

.unlock-section-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 144px;

  .banner-section {
    flex-basis: 40%;

    .mobil-image {
      margin-left: 8px;
      width: 95%;
    }
  }

  .content-section {
    flex-basis: 60%;

    h2 {
      @extend .text-heading;
      margin-bottom: 16px;
    }

    p {
      @extend .text-body2;
    }

    .learn-more-button {
      @extend .button;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;

    .banner-section {
      margin-bottom: 20px;
      align-items: center;
      text-align: center;

      .mobil-image {
        margin: 0 auto;
      }
    }

    .content-section {
      align-items: center;
      text-align: left;

      .learn-more-button {
        margin: 0 auto;
        display: block;
      }
    }
  }
}
