$colorNeutralSilver: #c0c0c0;
$colorPrimary: #4caf4f;
$colorOnprimary: #ffffff;
$colorSecondary: #18191f;
$colorOnprimer: #f5f7fa;
$colorGreyish: #717171;
$colorJetblack: #0000004d;
$colorLicorblack: #00000026;
